html,
html[data-theme="light"] {
  color-scheme: light;
  --color1: 10, 10, 10;
  --color2: 25, 84, 193;
  --color3: 255, 221, 0;
  --color4: 239, 243, 245;
  --color5: #c1c1c1;
  --color6: #ecf0f4;
  --color7: #282c37;
  --color8: #c0cdd9;
  --color9: #ffffff;
}

html[data-theme="dark"] {
  color-scheme: dark;
  --color1: 240, 240, 240;  /* Inverted from black to white */
  --color2: 70, 130, 240;   /* Brightened blue */
  --color3: 204, 177, 0;    /* Darkened yellow */
  --color4: 40, 44, 46;     /* Darkened light gray */
  --color5: #3e3e3e;        /* Darkened gray */
  --color6: #1a1d20;        /* Darkened very light gray */
  --color7: #d7dbe5;        /* Lightened dark color */
  --color8: #3f4550;        /* Darkened light grayish blue */
  --color9: #202020;        /* Inverted from white to black */
}
@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    color-scheme: dark;
    --color1: 240, 240, 240;  /* Inverted from black to white */
    --color2: 70, 130, 240;   /* Brightened blue */
    --color3: 204, 177, 0;    /* Darkened yellow */
    --color4: 40, 44, 46;     /* Darkened light gray */
    --color5: #3e3e3e;        /* Darkened gray */
    --color6: #1a1d20;        /* Darkened very light gray */
    --color7: #d7dbe5;        /* Lightened dark color */
    --color8: #3f4550;        /* Darkened light grayish blue */
    --color9: #202020;        /* Inverted from white to black */
  }
}


/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
  transition-duration: .25s;
}

a {
  color: rgb(var(--color1));
  text-decoration: underline;
  text-decoration-color: rgb(var(--color1));
  text-underline-offset: 0.2rem;

  text-decoration-thickness:.1rem ;
}

/* Base Styles */
html {
  font-feature-settings: normal;
  font-variation-settings: normal;
  tab-size: 4;
  line-height: 1.5;
  font-family: 'Lexend', sans-serif;
}

body {
  hyphens: auto;
  min-height: 100vh;
  background-color: rgb(var(--color9));
  font-weight: 500;
  line-height: 1.25;
  color: rgb(var(--color1));
  margin: 0;
}

.container {
  min-width: 20rem;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  min-height: max(100vh, 480px);
  display: flex;
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: inherit;

  flex-direction: column;
}

header {
  padding: 1.25rem 1rem;
  height: fit-content;
  top: 0;
  background-color: inherit;
  border-bottom: 1px solid var(--color5);
  margin: 0 -1.5rem;
}

main {
  flex-grow: 1;
  width: 100%;
  position: relative;
  font-weight: 400;
  margin-top: 1.25rem;
}

main article {
  gap: 4rem;
  flex-direction: column;
  display: flex;
}

footer {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  z-index: 10;
  position: relative;
}

header .topbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.topbar a {
  display: block;
  text-decoration: inherit;
}

header nav a {
  text-decoration: none;
}

img + em {font-family: monospace; font-style: normal; opacity: 0.65; font-size: .8rem;}

nav {
  --tw-bg-opacity: 1;
  overflow: hidden;
  width: 100%;
  max-height: 12rem;
  display: none;
}

header button {
  font-variation-settings: "TIME" 1;
  --tw-text-opacity: 1;
  color: rgb(255 221 0 / var(--tw-text-opacity));
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.5rem;
  cursor: pointer;
  background-color: transparent;
  font-feature-settings: inherit;
  letter-spacing: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: none;
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul {
  margin-top: 0.5rem;
}

nav ul li {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
}

.title {
  font-size: 1.125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.125rem;
  font-weight: 580;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4,
h5,
h6 {
  margin-top: 1.25rem;
}

::selection {
  background: rgb(var(--color3));
}

/* Tables */
table,
th,
td {
  border: thin solid rgb(var(--color1));
  border-collapse: collapse;
  padding: 0.4rem;
}

/* Blockquotes */
blockquote {
  font-style: italic;
  border: thin solid rgb(var(--color1));
  padding: 1rem;
}

/* Images */
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#dropdown img {
  width: 24px;
  height: 24px;
}

article .content {
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  gap: 1rem;
  line-height: 1.5;
}

main li {
  line-height: 1.5;
}

#togglebutton {
  text-align: right;
}

#theme-toggle, #font-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  fill: rgb(var(--color1));
}

#theme-toggle svg, #font-toggle svg{
  width: 24px;
  height: 24px;
}

article .metadata {
  display: none;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

pre {
  padding: .625rem;
  border-top: 1px dashed rgb(var(--color1)) ;
  border-bottom: 1px dashed rgb(var(--color1)) ;
  // background-color: rgba(var(--color1), 0.05);
  font-size: 1rem;
}

code {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  max-width: 100%;
  overflow: auto;
}

.sun-icon {
  display: none;
}

.moon-icon {
  display: inline;
}

#dropdown{
  filter: invert(1);
}

html.dark-mode .sun-icon {
  display: inline;
}

html.dark-mode .moon-icon {
  display: none;
}



.post-meta {
  margin-top: 0;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tooltip {
  color: rgb(var(--color2));
  width: fit-content;
}

.toc {
  display: none;
}

.content .post-meta {
  display: flex;
  gap: 0.125rem;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: .25px solid rgba(var(--color1), 0.2);
}



@media (min-height: 480px) {
  header .topbar {
    width: 100%;
  }
}

@media (min-width: 680px) {
  .container {
    gap: 1.5rem;
    flex-direction: row;
  }

  header .topbar {
    width: fit-content;
  }

  header {
    margin-bottom: var(--footer-height);
    z-index: 10;
    padding: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: sticky;
    border-bottom: none;
    margin: 0;
    min-width: fit-content;
  }

  header .topbar .dropdown {
    display: none;
  }

  .title {
    font-size: 1.25rem;
  }

  nav {
    display: inline;
    position: relative;
  }

  nav ul {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  main {
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-top: 0;
  }

  main article {
    gap: 2rem;
    flex-direction: column-reverse;
  }

  footer {
    position: fixed;
    bottom: 0;
  }

  #togglebutton {
    text-align: left;
    margin-top: 0.5rem;
  }

  header #dropdown {
    display: none;
  }

  footer {
    max-width: 10rem;
  }

  .content .metadata {
    display: inline;
  }
}

@media (min-width: 960px) {
  .post-meta {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .tooltip {
    color: rgb(var(--color2));
  }
   
  main {font-size: 1.125rem;}

  main article {
    gap: 2rem;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.125rem;
  }


  article .metadata {
    flex-shrink: 0;
    min-width: fit-content;
    position: sticky;
    top: 1rem;
    flex-direction: column;
    display: flex;
    height: fit-content;
    align-self: flex-start;
    /* or any other value like flex-end or center */
  }

  .toc {
    display: inline;
    line-height: 2rem;
    opacity: .8;
  }

  .toc ul ul {
    margin-left: 1r;

  .toc a {
    text-decoration: none;
  }

  .toc a:hover {
    color: rgb(var(--color2));
  }

  article .content {
    min-width: 18rem;
  }

}

@media (min-width: 1200px) {

  body {
    background-color: rgb(var(--color4));
  }


  nav ul {
    margin-top: 0;
    padding: 0.5rem .875rem;
    color: var(--color7);

  }

  nav ul li a{
    color:var(--color7);
  }

  .container {
    gap: 2rem;
  }

  .title{
    padding: .875rem;
    padding-top: 1.5rem;
    color: var(--color7);
    padding-right: 4rem;
  }

  .topbar{
      border-bottom: 1px solid var(--color8);

  }

  header {
    padding: 0;
    margin-top: 2rem;
    top: 2rem;
  }

  main {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  footer {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }

  main article {
    gap: 2rem;
  }

  article .metadata {
    top: 2rem;
    font-size: 1.25rem;
  }

  article .content {
    max-width: 45rem;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--color9);
    border: 1px solid var(--color8);
  }

  .metadata h1 {
    font-size: 1.5rem;
  }

  .toc ul {
    font-size: 1.125rem;
  }

  .metadata .toc h1 {
    font-size: 1.375rem;
    margin-bottom: 0.75rem;
  }

  h1,
  h2,
  h3,
  h4 {
    font-size: 1.375rem;
  }
  

}
}