:root {
  --primary-color: #0075ad;
  --secondary-color: #cbfa10;
  --text-color: black;
  --bg-color: transparent;
  --font-family: "Poppins", sans-serif;
  --max-width: 1200px;
  --gap-large: 2rem;
  --gap-medium: 1.5rem;
  --gap-small: 1rem;
  --line-height: 1.5;
}

/* Global reset */
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  outline: none;
  text-decoration: none;
  background-color: var(--bg-color);
}

/* Base styles */
body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  height: 100vh;
  text-rendering: optimizeLegibility;
  background-color: #faf6ef;
  color: var(--text-color);
}

/* Header styles */
header {
  background-color: #05192d;
  border-bottom: 1px solid rgba(5, 25, 45, 0.15);
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--gap-medium);
}

nav ul {
  display: flex;
  gap: var(--gap-large);
  font-size: 1.25rem;
}

nav ul a {
  color: white;
}

/* Dropdown menu for smaller screens */
#dropdown {
  display: none;
}

#dropdown img {
  width: 20px;
  height: 20px;
}

#title {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}

/* Main content styles */
main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--gap-large);
  gap: 1.75rem;
  flex: 1;
  line-height: var(--line-height);
  font-size: 1.125rem;
}

main article {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
  max-width: 50rem;
  margin: 0 auto;
}

/* Article heading styles */
article :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: -1rem;
  text-decoration: none;
  text-decoration-color: var(--secondary-color);
  text-decoration-thickness: 4px;
}
main :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
}

article .post-meta {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  padding-bottom: var(--gap-medium);
  border-bottom: 1px solid grey;
}

.post-meta h1 {
  text-decoration: none;
}

/* Link styles */
main a {
  color: var(--primary-color);
  text-decoration: none;
  text-underline-offset: 4px;
  font-weight: 400;
  text-decoration-color: var(--primary-color);
}

main a:hover {
  text-decoration: none;
}

/* Footer styles */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-medium);
  background-color: white;
  border-top: 2px solid var(--text-color);
}

/* Responsive design */
@media (max-width: 1200px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: var(--gap-small);
  }

  nav ul {
    display: none;
  }

  #dropdown {
    display: block;
  }

  main {
    padding: var(--gap-small);
    font-size: 1rem;
  }

  footer {
    padding: var(--gap-small);
  }

  #title {
    font-size: 1.125rem;
  }

  article .post-meta {
    gap: 1.25rem;
  }
  #topbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
