/* General Styles */
:root {
  --primary-color: black;
  --secondary-color: rgb(51, 51, 51);
  --highlight-color: rgba(255, 238, 0, 0.548);
  --underline-color: red;
  --background-color: white;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: var(--background-color);
}

body {
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  text-rendering: optimizeLegibility;
  display: flex;
  height: 100%;
  flex-direction: column;
  color: var(--primary-color);
  background-color: var(--background-color);
  font-optical-sizing: auto;
  background-image: radial-gradient(rgb(68, 68, 68) 12.8%, transparent 12.8%),
    radial-gradient(rgb(68, 68, 68) 12.8%, transparent 12.8%);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
}

/* Header Styles */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-space-grotesk);
  border-bottom: 2px solid black;
  padding: 1rem;
  background: #fff;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
}

nav a:hover {
  color: var(--primary-color);
}

main {
  width: 800px;
  margin: 0 auto;
  flex: 1;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 2rem;
  background: #fff;
  overflow-y: auto;
}

.title {
  text-decoration: none;
  position: relative;
  color: var(--primary-color);
  font-weight: 450;
}

.title:hover {
  color: #000;
}

.title::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.title:hover::before {
  transform: scaleX(1);
}

::selection {
  background: var(--highlight-color);
}

.post-meta {
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

/*  main h1 {
  margin-top: 1.4rem;
  font-size: calc(1.4rem + 0.1vw);
 }
 
 main h2 {
  margin-top: 1.3rem;
  font-size: calc(1.3rem + 0.1vw);
 }
 
 main h3 {
  margin-top: 1.2em;
  font-size: 1.3em;
 } */

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

h1{
  display: block;
font-size: 2em;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}

h2{
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h3{
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h4 {	display: block;
margin-top: 1.33em;
margin-bottom: 1.33em;
margin-left: 0;
margin-right: 0;
font-weight: bold;}

*:target {
  background: yellow;
}

hr {
  margin: 2em 0;
  text-align: center;
  border: 0;
}

hr:before {
  content: "/////";
}

hr:after {
  content: attr(data-content) "/////";
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: thin solid var(--primary-color);
  padding: 0.4em;
}

pre {
  margin: 0.6rem 0 1rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: var(--primary-color);
}

code {
  background-color: #f2f2f2;
  padding-inline: 0.2rem;
  color: var(--primary-color);
}

pre code {
  display: block;
  white-space: pre-wrap;
  padding: 1em;
  overflow: auto;
  color: var(--primary-color);
}

blockquote {
  font-style: italic;
  border: thin solid var(--primary-color);
  padding: 1em;
}

blockquote p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#back-to-top {
  color: var(--primary-color);
  font-family: var(--font-space-grotesk);
}

#back-to-top::before {
  background-color: var(--background-color);
}

.bottom {
  display: flex;
  justify-content: space-between;
}

/* Footer Styles */
footer {
  border-top: 2px solid black;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

/* Responsive Styles */
.mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  main {
    width: 100vw;
    border-right: none;
    border-left: none;
    padding: 1.25rem;
  }

  footer {
    padding: calc(0.4rem + 1vw);
  }

  header {
    padding: calc(0.4rem + 1vw);
  }

  .mobile {
    display: initial !important;
  }

  .desktop {
    display: none !important;
  }
}
