<header class="text-xl">
    <a class="invisible" rel="me" href="https://mathstodon.xyz/@tunjan">Mastodon</a>
    <nav class="flex mx-auto justify-between my-4 max-w-5xl">
    {% if config.title %}
      <a class="title" href="/">{{ config.title }}</a>
    {% endif %}

    {% if config.extra.header_nav %}
      <ul class="flex gap-4">
        {% for nav_item in config.extra.header_nav %}
        <li>
          <a href="{{ nav_item.url | safe }}" {% if nav_item.new_tab %} target="_blank" rel="noreferrer noopener" {%
            endif %}>
            {{ nav_item.name }}
          </a>
        </li>
        {% endfor %}
        </ul>
    </nav>
    {% endif %}
  </header>