<header
  id="header"
  class="header-transition fixed w-full border-b border-gray-200 bg-gray-50 p-4 text-lg md:bg-gray-50/50 md:p-6 md:text-xl md:backdrop-blur-xl"
>
  <nav class="mx-auto flex max-w-5xl items-center justify-between gap-10">
    <a class="title hidden font-sans hover:text-gray-500 md:inline" href="/"
      >Alberto Trigo</a
    >
    <div class="flex items-center gap-4">
      <button
        type="button"
        class="group relative h-6 md:block md:w-6"
        aria-label="Open Search"
      >
        <span
          class="absolute left-0 top-0 flex h-full w-full items-center justify-center"
        >
          <span class="absolute left-0 top-0 inline-block h-full w-full">
            <span
              class="absolute inline-block h-[1.25rem] w-[1.25rem] group-hover:animate-search-icon md:left-[0.3125rem] md:top-[0.125rem]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="absolute left-[0.125rem] top-[0.125rem] h-[0.875rem] w-[0.875rem] rotate-[135deg] transition-transform duration-300 ease-in-out"
              >
                <path d="M 15,8 A 7,7 0 1,1 1,8 A 7,7 0 1,1 15,8"></path>
              </svg>
              <span
                class="duration-400 ease-cubic-bezier(.215,.61,.355,1) absolute left-[0.5rem] top-[0.4375rem] inline-block h-[0.375rem] w-[0.09375rem] origin-[50%_-0.4375rem] translate-y-[0.5625rem] -rotate-45 rounded-b-full bg-current transition-transform group-hover:rotate-45"
              ></span>
            </span>
          </span>
        </span>
      </button>
    </div>

    {% if config.extra.header_nav %}
    <ul class="flex gap-4">
      {% for nav_item in config.extra.header_nav %}
      <li class="hover:text-gray-500">
        <a
          href="{{ nav_item.url | safe }}"
          {%
          if
          nav_item.new_tab
          %}
          target="_blank"
          rel="noreferrer noopener"
          {%
          endif
          %}
        >
          {{ nav_item.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</header>
