<header class="text-lg md:text-xl border-gray-200 p-4 md:p-8">
    <nav class="flex mx-auto justify-between max-w-5xl items-center gap-10">
      <a class="title hidden md:inline" href="/">Alberto Trigo</a>
    <div class="relative w-32 md:w-52">
      <input type="text" class="text-sm h-8 text-forest border-b border-gray-700 block w-full pl-0 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search">
    </div>
  
    {% if config.extra.header_nav %}
      <ul class="flex gap-4">
        {% for nav_item in config.extra.header_nav %}
        <li>
          <a href="{{ nav_item.url | safe }}" {% if nav_item.new_tab %} target="_blank" rel="noreferrer noopener" {%
            endif %}>
            {{ nav_item.name }}
          </a>
        </li>
        {% endfor %}
        </ul>
    </nav>
    {% endif %}
  </header>