*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

#page-title{
  font-size:4rem;
  margin-top:0;
  font-weight:380;
}

#reading-time{
  font-size:0.95rem;
}


body{
  color:black;
  background:white;
  font-family: "Inter", "sans-serif";
  font-size:1.5rem;
  min-height: 100vh;
  line-height: 1.625;
  text-rendering: optimizeSpeed;

  display:flex;
  flex-direction:column;
}

.post-meta{
  text-align:center;
}

main{

    flex-grow: 1; /* Allows <main> to expand and fill the space */
max-width:68rem;
width: 100%;
margin: 0 auto;
display:flex;
flex-direction:column;
justify-content:center;
}

h1,h2,h3,h4 {
  font-weight:400;
  margin-top:2rem;
  margin-bottom:2rem;
}

article{
  margin-left:auto;
  margin-right:auto;
  max-width:58rem;
}

nav{
  display:flex;
  margin: 0 auto;
  justify-content:space-between;
  margin-top:1rem;
  margin-bottom: 1rem;

  max-width:68rem;
  font-size:1.2rem;
}

nav ul {
  list-style:none;
  display: flex;
  gap:1rem;
}

main a{
  color:inherit;
  text-decoration: underline;
}

header a{
  text-decoration:none;
}

.content {
  margin: 0 auto;
  text-align:start;
  font-size:1.25rem;
}

img {
  max-width: 100%;
  display: block;
  margin: 0rem auto;
  border-radius:4px;
}

.post-meta{
  margin:5rem 0;
}

footer {
  margin-bottom:1rem;
  margin-top:2rem;
  display:flex;
  justify-content:space-between;
  opacity:0.6;
  font-size:1rem;
  font-family:monospace;

  padding:0 1rem;
}

.content p {
  margin-top: 1em;
margin-bottom: 1em;
}

img + em {font-family: monospace; font-style: normal; opacity: 0.65; font-size: .8rem;}

@media (max-width: 480px) {
footer {
  font-size:0.8rem;
}
header, main{
  padding:0 1rem;
}
}
