{% import "macros.html" as macros %}

<!doctype html>
<html lang="{{ lang }}">
  {% include "partials/head.html" %}

  <body
    class="relative md:grid md:grid-cols-[250px_1fr] dark:bg-zinc-900 dark:text-zinc-100 dark:selection:bg-sky-300 md:dark:selection:bg-sky-300 md:dark:selection:text-black"
  >
    <!-- Overlay Element -->
    <div
    id="overlay"
    class="pointer-events-none fixed inset-0 z-40 bg-black opacity-0 transition-opacity duration-300 ease-in-out"
  ></div>

  <!-- Dark Mode Toggle for Desktop Layout -->
  <div class="hidden md:block fixed top-4 right-4 z-50">
    <input id="light-switch-desktop" type="checkbox" name="light-switch" class="light-switch sr-only" />
    <label class="relative cursor-pointer" for="light-switch-desktop">
      <svg class="dark:hidden" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
        <path class="fill-slate-300" d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z" />
        <path class="fill-slate-400" d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z" />
      </svg>
      <svg class="hidden dark:block" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
        <path class="fill-slate-400" d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z" />
        <path class="fill-slate-500" d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z" />
      </svg>
      <span class="sr-only">Switch to light / dark version</span>
    </label>
  </div>

  <div class="sticky top-0 z-30 w-full bg-white border-b border-zinc-100 sm:hidden dark:bg-zinc-700 flex items-center justify-between px-4 py-2">
    <!-- Sidebar Toggle Button -->
    <button
      data-drawer-target="default-sidebar"
      data-drawer-toggle="default-sidebar"
      aria-controls="default-sidebar"
      aria-expanded="false"
      type="button"
      class="inline-flex items-center rounded-lg p-2 text-sm text-zinc-500 hover:bg-zinc-100 focus:outline-none focus:ring-2 focus:ring-zinc-200 dark:text-zinc-400 dark:hover:bg-zinc-700 dark:focus:ring-zinc-600"
    >
      <span class="sr-only">Open sidebar</span>
      <svg
        class="h-6 w-6"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          clip-rule="evenodd"
          fill-rule="evenodd"
          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
        ></path>
      </svg>
    </button>

    <!-- Name -->
    <span class="text-lg font-semibold text-zinc-800 dark:text-zinc-200">Alberto Trigo</span>

    <!-- Dark Mode Toggle for Mobile -->
    <div class="flex flex-col justify-center ml-3">
      <input id="light-switch" type="checkbox" name="light-switch" class="light-switch sr-only" />
      <label class="relative cursor-pointer p-2" for="light-switch">
        <svg class="dark:hidden" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-slate-300" d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z" />
          <path class="fill-slate-400" d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z" />
        </svg>
        <svg class="hidden dark:block" width="16" height="16" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-slate-400" d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z" />
          <path class="fill-slate-500" d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z" />
        </svg>
        <span class="sr-only">Switch to light / dark version</span>
      </label>
    </div>
  </div>
    

    <aside
      id="default-sidebar"
      class="fixed left-0 top-0 z-50 h-screen w-64 -translate-x-full transition-transform sm:sticky sm:top-0 sm:col-start-1 sm:col-end-2 sm:translate-x-0"
      aria-label="Sidebar"
      aria-hidden="true"
    >
      <div class="h-full sm:fixed sm:top-0 sm:z-50 sm:w-64 sm:overflow-y-auto">
        <div
          class="h-full overflow-y-auto bg-zinc-50 px-3 py-4 dark:bg-zinc-950"
        >
        <div class="text-center text-lg">
          <a class="title hidden font-sans md:inline" href="/"
            >Alberto Trigo</a
          >
        </div>

          {% if config.extra.header_nav %}
          <ul class=" md:mt-4 flex flex-col gap-2">
            {% for nav_item in config.extra.header_nav %}
            <li>
              <a
                href="{{ nav_item.url | safe }}"
                class="block rounded-md px-3 py-2 hover:bg-zinc-200 dark:hover:bg-zinc-700"
                {%
                if
                nav_item.new_tab
                %}
                target="_blank"
                rel="noreferrer noopener"
                {%
                endif
                %}
              >
                {{ nav_item.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          <div class="mt-4 flex items-center gap-4">
            <button
              type="button"
              class="group relative h-6 md:block md:w-6"
              aria-label="Open Search"
            >
              <span
                class="absolute left-0 top-0 flex h-full w-full items-center justify-center"
              >
                <span class="absolute left-0 top-0 inline-block h-full w-full">
                  <span
                    class="absolute inline-block h-[1.25rem] w-[1.25rem] group-hover:animate-search-icon md:left-[0.3125rem] md:top-[0.125rem]"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="absolute left-[0.125rem] top-[0.125rem] h-[0.875rem] w-[0.875rem] rotate-[135deg] transition-transform duration-300 ease-in-out"
                    >
                      <path d="M 15,8 A 7,7 0 1,1 1,8 A 7,7 0 1,1 15,8"></path>
                    </svg>
                    <span
                      class="duration-400 ease-cubic-bezier(.215,.61,.355,1) absolute left-[0.5rem] top-[0.4375rem] inline-block h-[0.375rem] w-[0.09375rem] origin-[50%_-0.4375rem] translate-y-[0.5625rem] -rotate-45 rounded-b-full bg-current transition-transform group-hover:rotate-45"
                    ></span>
                  </span>
                </span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </aside>

    <main
      id="main"
      class="mx-auto flex-1 basis-0 p-6 md:w-3/5 md:basis-0 md:p-0 md:pt-8"
    >
      {% block main %}

      <h1>Error</h1>

      {% endblock %} {% include "partials/footer.html" %}
    </main>

    {% if page.extra.javascript %} {% for js_file in page.extra.javascript %}
    <script src="{{ get_url(path=js_file) }}"></script>
    {% endfor %} {% endif %}

    <script>
document.addEventListener("DOMContentLoaded", function () {
  const toggleButton = document.querySelector('[data-drawer-toggle="default-sidebar"]');
  const sidebar = document.getElementById("default-sidebar");
  const overlay = document.getElementById("overlay");

  if (toggleButton && sidebar && overlay) {
    toggleButton.addEventListener("click", function () {
      const isHidden = sidebar.classList.contains("-translate-x-full");

      sidebar.classList.toggle("-translate-x-full");
      sidebar.setAttribute("aria-hidden", isHidden);
      toggleButton.setAttribute("aria-expanded", !isHidden);

      if (isHidden) {
        overlay.classList.remove("opacity-0", "pointer-events-none");
        overlay.classList.add("opacity-50");
      } else {
        overlay.classList.add("opacity-0", "pointer-events-none");
        overlay.classList.remove("opacity-50");
      }
    });

    overlay.addEventListener("click", function () {
      if (!sidebar.classList.contains("-translate-x-full")) {
        sidebar.classList.add("-translate-x-full");
        sidebar.setAttribute("aria-hidden", "true");
        toggleButton.setAttribute("aria-expanded", "false");

        overlay.classList.add("opacity-0", "pointer-events-none");
        overlay.classList.remove("opacity-50");
      }
    });
  }
});


const lightSwitches = document.querySelectorAll('.light-switch');
if (lightSwitches.length > 0) {
  lightSwitches.forEach((lightSwitch, i) => {
    if (localStorage.getItem('dark-mode') === 'true') {
      lightSwitch.checked = true;
    }
    lightSwitch.addEventListener('change', () => {
      const { checked } = lightSwitch;
      lightSwitches.forEach((el, n) => {
        if (n !== i) {
          el.checked = checked;
        }
      });
      if (lightSwitch.checked) {
        document.documentElement.classList.add('dark');
        localStorage.setItem('dark-mode', true);
      } else {
        document.documentElement.classList.remove('dark');
        localStorage.setItem('dark-mode', false);
      }
    });
  });
}



if (localStorage.getItem('dark-mode') === 'true') {
    document.documentElement.classList.add('dark');
} else {
    document.documentElement.classList.remove('dark');
}


    </script>
  </body>
</html>
