{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="{{ lang }}">
  {% include "partials/head.html" %}

<body class="bg-forest text-bark flex flex-col text-lg md:text-xl min-h-screen dark:bg-black dark:text-white font-sans">

  {% include "partials/header.html" %}

    <main class="p-4 lg:p-0 lg:mt-6 flex grow w-full max-w-5xl flex-col mx-auto">

      {% block main %}

      <h1>what is this</h1>

      {% endblock %}

    </main>

    {% include "partials/footer.html" %}

</body>

</html>
